@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-surface: #121212;
  --color-primary: #f97316;
  /* Orange 500 */
  --color-secondary: #3f3f46;
  /* Zinc 700 */
  --color-accent: #27272a;
  /* Zinc 800 */
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-zinc-300 font-sans antialiased;
}